bin/
dll/
dlls/
obj*/
packages/
node_modules/
.config/
.vs
.vscode
.svn
.cr
*.bak
*.binlog
*.bkp
*.cache
*.cbl
*.[d][Ll][Ll]
![Ll]ib/*.[d][Ll][Ll]
![Ll]ib/*/*.[d][Ll][Ll]
RELEASE_INFO
BUILD_INFO
*.dmp
*.dt
*.db
!*.db/
*.Dump
*.exe
*.EXE
*.gs
*.idy
*.nupkg
*.old
*.pdb
*.shp_ant
*.shp_orig
*.suo
*.user
*.vsp
_*-core.csproj
_*-core.vbproj
_*-core.sln
/[Aa]certos/
/[Oo]utros/
style-help.css
UpgradeLog*.htm
!/lib_core/lib/*
**/base/*.xml
**/runtime/*.xml
/Prosyst.ERP.Business/ORDPRD04Business/Prosyst.ERP.Business.ORDPRD04Business.sln
User.*